[2014-06-23 08:41] Raffa87 opened #34 "Integrate kinect data"
On the description of package at http://wiki.ros.org/ar_track_alvar it is declared:

How can I integrate my kinect data in the process?
Thank you

[2014-06-23 15:00] rethink-rlinsalata commented on #34
The default launch files and executables integrate the Kinect data automatically.  If you use the "\* NoKinect" variants, then it will not use the kinect.

There are four executables/launch files: one for Individual Markers, one for Bundles of Markers, and a "No Kinect" version for each of the first two.

[2014-06-23 16:41] Raffa87 commented on #34
I'm working on fuerte on a 32bit machine so I followed the instructions explained in: http://wiki.ros.org/ar_track_alvar:

git clone https://github.com/sniekum/ar_track_alvar.git
git checkout f093668

and the launch file that I got, the node subscribe to Image topic rather than PointCloud. Is there the chance to integrate PointCloud data also in fuerte on a 32 bit?
Thanks!

[2014-07-10 13:15] TSC21 opened #35 "Not enough inliers found to support a model - Ignoring transform for child_frame_id"
Hi,

I'm using an Asus Xtion Pro Live to identify and track the pose of numb 8 AR tag, integrating the driver depth data. I'm using Openni2 with ROS Hydro in Ubuntu 12.11 Linaro, on a ARM architecture (a Odroid to be more specific). I have PCL-1.7 installed by deb packages (which was required by pcl-ros). My launch file has the following config:

[code]

</launch>

I get the following log in comma

[2014-08-14 14:26] rabenimmermehr opened #38 "Median Filter Library missing"
Hey guys,

I installed this package via `sudo apt-get install ros-hydro-ar-track-alvar`. When I track isolated markers, everything is fine, but when I want to track a bundle I get an error launching the node:

[code]

Did I miss a step or is there something wrong with the code?

Thanks in advance,
Rabe

System Information:
Ubuntu 12.04 64bit
ROS Hydro

[2014-08-20 07:28] MZofka commented on #38
I'm not sure, but try pulling it from the github repository and building it in your own catkin ws. That should work.

[2014-09-16 08:44] LoyVanBeek commented on #35
I'm having similar problem, using a Kinect:

[code]

As there errors clutter more important output, I suppress them by forwarding stderr to /dev/null with `roslaunch ... 2> /dev/null`. But thats not a real solution of course.

[2015-01-23 07:28] 130s opened #41 "Release 0.5.1 (or newer)?"
Sufficient amount of commits have been merged since 0.5.0 particularly in hydro and indigo. Thanks!

[2015-01-23 16:48] sniekum commented on #41
Hi Isaac,

I just updated the package.xml files.  I don't have access to the Bloom
release tools installed at the moment.  Would you mind triggering the
release?

--Scott

On Fri, Jan 23, 2015 at 2:28 AM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-01-25 00:17] 130s opened #42 "Branches are not synchronized"
Upon https://github.com/sniekum/ar_track_alvar/issues/41 I'm looking at branches and realized that active branches (I assume `{ groovy, hydro, indigo }-devel`) are not synchronized. Each branch has accepted unique commits within the last 6 months.

I can see some commits MAY be distro-specific (e.g. [this one for Hydro](https://github.com/sniekum/ar_track_alvar/pull/31)), but not entirely sure if

[2015-01-25 00:18] 130s commented on #41
Ok, thanks. Once #42 is cleared I'll move on.

[2015-02-22 07:18] mjstn opened #43 "Is X and Y pose data able to be supplied with non kinetic (usb_cam) feed?"
First of all thank you for your amazing software.  I wish to use it fed from usb_cam and a webcam.

In using usb_cam from a creative webcam I am able to see correct AR tag numbers on topic /ar_pose_marker.    Of course the webcam has no depth so I would not expect to see Z position but I wonder if it is also true that I see x and y always as 0.0 even if I move the patterns?

I can see multiple tag

[2015-02-22 07:23] mjstn commented on #43
The launch file was cutoff for most of usb_cam part so I try again here:
<launch>
   <arg name="marker_size" default="6.6" />
   <arg name="max_new_marker_error" default="0.18" />
   <arg name="max_track_error" default="0.15" />
   <arg name="cam_image_topic" default="/camera/rgb/image_color" />
   <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
   <arg name="output_frame" default=

[2015-02-22 07:29] mjstn commented on #43
unable to post launch file first part but perhaps comment on if usb_cam non-depth cam has any hope of providing x and y data for the AR tags that do get seen.  Thanks

[2015-02-22 19:12] sniekum commented on #43
Actually, ar_track_alvar uses the size/distortion of the tag in the image
to calculate depth of the tag, even without a kinect.  So you should be
getting a fully 6-DOF pose estimate.  Hard to say what is wrong though from
the limited info I have about your situation.  Sounds like something might
be wrong in the TF tree connecting your camera frame and output frame.

--Scott

On Sun, Feb 22, 2015 a

[2015-02-23 05:54] mjstn commented on #43
Ok and it's good to know the intent is there for webcams to be ok as I need to use webcam and not my Xtion which is way too big and too power hungry for my small device.

I should note that I have had a reply from Patrick Goebel who has recently re-written his 1st book 'ROS By Example Volume 1' for ubuntu 14.04 and ROS Indigo and he also sees null values for AR patterns he knows work with Kinetic.

[2015-02-23 17:37] sniekum commented on #43
OK, since the output frame is 'camera_link', that rules out the possibility
of this being a TF problem.  One thing I can say almost certainly is that
this is not a problem with ar_track_alvar, but with the camera set up.  My
suspicion is that there is a problem being caused by something in the
camera_info, most likely the empty D,K,R,P vectors for rectification. Those
zeroed out distortion paramet

[2015-03-01 10:28] mjstn commented on #43
Thank you both for your time.  Have done cal and saved yml files and the values appear now.

[2015-03-01 10:28] #43 closed

[2015-03-07 02:43] 130s opened #44 "Default branch to indigo-devel from groovy-devel?"
IMO fewer and fewer people use / will use Groovy.

[2015-03-07 02:44] 130s commented on #44
IMO fewer and fewer people use / will use Groovy.

[2015-03-07 02:53] sniekum commented on #44
Agreed. Done.

[2015-03-07 02:53] #44 closed

[2015-04-02 12:08] mehditlili opened #45 "Mirrored marker false detection"
While doing some tests with the ar markers, I realized that sometimes marker 5 is also detected as being marker 14 where the Z axis goes in the opposite direction. Markers 5 and 14 are mirrored versions of each other. I fixed this by eliminating all markers detected with a z axis in a negative direction but it would be nice to eliminate this problem once for all.

[2015-04-07 17:20] rctoris opened #46 "Jade Release"
Just a friendly ping for a potential jade release to help some blocking packages for the upcoming beta.

[2015-04-07 23:20] 130s commented on #46
Before making a release into new distro I'd suggest https://github.com/sniekum/ar_track_alvar/issues/42 is taken care of (or at least considered).

[2015-04-08 05:21] bit-pirate opened #47 "update ROS wiki documentation"
I noticed that the package documentation on the ROS wiki seems heavily out of date, e.g. Fuerte is mentioned in the text.

http://wiki.ros.org/ar_track_alvar

I already create the missing pages for the new meta and message packages and also split the main package doc in a fuerte page for the fuerte version and a post-fuerte page for all following versions.

If you have time please take a look at t

[2015-04-08 06:11] sniekum commented on #46
My ability to keep up with maintaining this package is severely limited right now and is probably only going to get worse in coming months.  Would either/both of you be willing to taking over some of the maintenance duties, since you are some of the more active community members that use the package?  Let me know if you are, and I'll add you as collaborators.

[2015-04-08 19:36] 130s commented on #46
I can join the maintenance to at least review the pull requests and do release work. Running physical tests might depend on the occasions. I think you @sniekum already given me the commit rights.

Since it's already out for Indigo, maybe we want to start out by just releasing from `indigo-devel` branch into Jade (taking back what I said considering sooner release the better)?

[2015-04-08 19:57] sniekum commented on #46
That's fine with me.

On Wed, Apr 8, 2015 at 3:36 PM, Isaac I.Y. Saito notifications@github.com
wrote:

[2015-04-09 06:17] 130s opened #48 "Release repository distributed"
@jihoonl I'm making the initial release into Jade (related to #46) and I found [the Indigo release repository of this package is under your organization](https://github.com/ros/rosdistro/blob/d8c840ebfdab635940477448aa0ed20af4f8dc83/indigo/distribution.yaml#L194
), instead of [ros-gbp repo used in hydro](https://github.com/ros/rosdistro/blob/6f440516da536f0c69dfca656f4ead19722efa1f/hydro/distribut

[2015-04-09 06:37] 130s commented on #46
Making a progress. Found that `ar_track_alvar_msgs` is in a separate repository.

@sniekum can you also add me a write access there?

@wjwwood can you also give me a write access to https://github.com/ros-gbp/ar_track_alvar_msgs-release/ ?

Thanks in advance.

[2015-04-09 06:38] wjwwood commented on #46
Done.

[2015-04-09 07:44] jihoonl commented on #48
Yeah. I couldn't use ros-gbp because of authorization issue. I couldn't push into https://github.com/ros-gbp/ar_track_alvar-release.  Please do it in ros-gbp if you can.

[2015-04-10 17:14] Uliv commented on #38
Hi Rabe,

I have the same issue and have the same system information as you have. How were you able to resolve it?

Thanks,
Uli

Edit: I was able to resolve the issue by building it in my own catkin ws.

[2015-04-12 15:41] 130s commented on #46
@sniekum can you also add me a write access at `ar_track_alvar_msgs`? Thx!

[2015-04-12 17:29] sniekum commented on #46
It looks like you already have it.  Is it not working?

On Sun, Apr 12, 2015 at 11:41 AM, Isaac I.Y. Saito <notifications@github.com

[2015-04-13 03:31] 130s commented on #46
Yeah I see it's working.

[2015-04-14 09:03] 130s commented on #46
[Blocked at resource-retriever](https://github.com/ros/robot_model/issues/104) not being released yet.

[2015-04-14 16:12] 130s commented on #48
Closed via https://github.com/ros/rosdistro/issues/7930

[2015-04-14 16:12] #48 closed

[2015-04-14 16:13] 130s commented on #41
Closed via https://github.com/ros/rosdistro/issues/7930

[2015-04-14 16:13] #41 closed

[2015-04-24 23:32] 130s commented on #46
Done https://github.com/ros/rosdistro/pull/8150

[2015-04-24 23:32] #46 closed

[2015-04-25 11:58] rctoris commented on #46
Thanks! :+1:

[2015-04-28 09:45] scarlettfres opened #52 "angle inversion of the marker"
Hello, I have a problem when putting a mark on the head of a robot. If the robot is to much turned on the right or the left, the Z axis become inverted ( it is not a flip, this wrong position stay for around 20 degres then become reinverted into the right rotation ). The strange thing is that it is not happening when doing a whole turn with a mark on the ground...

I write a question with more det

[2015-05-04 08:35] scarlettfres commented on #52
OK it is my mistake, my calibration file wasn't good enough

[2015-05-04 08:35] #52 closed

[2015-05-05 10:13] richterh opened #53 "Keyboard Input Broken on Training Node"
On some systems I experience problems with the keyboard input when using the TrainMarkerBundle node. In particular, the system does not accept any keyboard input. In all tests I have ensured that the OpenCV input window is active.

This bug has been tested on three systems, all running Linux Mint 17.1, using the code compiled from source and from the ROS repositories. On two of these systems no in

[2015-05-05 11:36] richterh opened #54 "Incorrect Marker Init"
When using the system to automatically learn marker maps the resulting output describes each marker with a triangular shape rather the the correct rectangle shape. This is due to incorrect initialisation of the first corner when it is initially added during the training procedure ([src/MultiMarker.cpp from line 239](https://github.com/sniekum/ar_track_alvar/blob/indigo-devel/src/MultiMarker.cpp)):

[2015-05-07 17:20] sudarshan85 opened #55 "Confidence is always zero"
Hi,

I'm using ar_track_alvar with a Microsoft webcam on ROS Hydro, Ubuntu 12.04. I am able to detect the tags, however, when I print the ID and the confidence, I get the confidence value to be always zero. The reason I need is that I could set a confidence threshold and reject those detected tags which have a lower confidence value than the threshold. But this can't be done if the confidence valu

[2015-05-22 09:08] jnitsch opened #56 "individualMarkersNoKinect with "non stable" camera doesn't work"
Hi,

I tried to detect AR tracks with a camera in an arbitrary pose using the node individualMarkersNoKinect. When turning the camera the position of the AR marker changed. When I moved and turned the AR marker, its pose change relative to the camera was alright. But its pose in the world was still wrong. When I put the arm in a position, so that the camera frame had nearly the same orientation li

[2015-05-22 13:52] sniekum commented on #56
Can you include your launch file?  Also, what do you mean by "moved" --
with respect to which frame?

On Fri, May 22, 2015 at 5:08 AM, Julia Nitsch notifications@github.com
wrote:

[2015-05-22 14:06] jnitsch commented on #56
This is my launch file:
<launch>
    <arg name="marker_size" default="5.0" />
    <arg name="max_new_marker_error" default="0.1" />
    <arg name="max_track_error" default="0.2" / >
    <arg name="cam_image_topic" default="/cameras/right_hand_camera/image" />
    <arg name="cam_info_topic" default="/cameras/right_hand_camera/camera_info" />
    <arg name="output_frame" default="/right_hand_camera"

[2015-05-22 14:21] sniekum commented on #56
I need to know what the values of those variable are (especially
output_frame).

On Fri, May 22, 2015 at 10:06 AM, Julia Nitsch notifications@github.com
wrote:

[2015-05-22 14:23] jnitsch commented on #56
Oh I am so sorry! (Copy paste error)

arg name="marker_size" default="5.0"
arg name="max_new_marker_error" default="0.1"
arg name="max_track_error" default="0.2"
arg name="cam_image_topic" default="/cameras/right_hand_camera/image"
arg name="cam_info_topic" default="/cameras/right_hand_camera/camera_info"
arg name="output_frame" default="/right_hand_camera"

[2015-05-22 15:47] sniekum commented on #56
My guess is a TF issue.  I'd switch the output frame to something stable
like Baxter's torso and see if it complains about there not being an
available transform.

On Fri, May 22, 2015 at 10:23 AM, Julia Nitsch notifications@github.com
wrote:

[2015-05-22 15:56] jnitsch commented on #56
I tried it also with the output frame base (also a stable one) and it didn't complain about not an available transform.

[2015-06-13 22:28] satishvaishnav opened #59 "Modifying ar_track_alvar"
I want to estimate my quadrotors position with respect to image in front of the quadrotor which will help me calculate the position of all the features in that image. Can this package be modified for my use?

[2015-08-19 12:53] NikolasE opened #61 "Simpler way to pause detection"
If I run the detector, at least one full core is dedicated to this task. I however don't need the detections always so I'd like to have a way to pause the detection for a while. I saw e.g. in the IndividualMarkersNoKinect.cpp that this could be done with the parameterUpdate, but there is no way to just set the enabled-flag (line 215) without setting all other parameters also.

I'd propose a simple

[2015-08-19 14:48] sniekum commented on #61
Sure, submit a pull request.

[2015-09-01 05:06] KodaiNakamura opened #62 "use ar_track_alvar with kinect"
I want to use ar_track_alvar with kinect.

first, I ran```roslaunch openni_launch openni.launch```, then ```roslaunch learning_ar_track_alvar v4l.launch```

v4l.launch is following.

[code]

but it did not work.

so I modified the launch file and got this result.

[code]

but it also did not work.

I guess ```<arg name="output_frame" default="/camera" />``` is not correct, but I have no idea how I

[2015-09-01 05:21] 130s commented on #62
This type of question usually gets better recognition on http://answers.ros.org.
And have you checked this answer for example? http://answers.ros.org/question/152866/output_frame-on-ar_track_alvar/

[2015-09-01 05:21] #62 closed

[2015-09-10 20:52] benersuay opened #63 "Memory Leak in ConnectedComponents / Labeling class."
Symptom:

if a code instantiates several instances of MarkerDetector objects, the following exception occurs:

OpenCV Error: Insufficient memory (Failed to allocate 65408 bytes) in OutOfMemoryError

A quick gdb backtrace shows:

#0  0xb7fdd424 in __kernel_vsyscall ()
#1  0xadb56e0f in __GI_raise (sig=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:64
#2  0xadb5a455 in __GI_abort () at abort.c:91
#3

[2015-09-10 21:01] #63 closed

[2015-09-18 08:52] rgreid opened #65 "Camera.cpp Distort() and Undistort() functions are commented out?"
Hi Scott, wondering why the Distort() and Undistort() functions [are commented out in Camera.cpp](https://github.com/sniekum/ar_track_alvar/blob/master/src/Camera.cpp#L418-L625)?

Importantly, the MarkerDetector/MarkerDetectorImpl class calls [LabelSquares(),](https://github.com/sniekum/ar_track_alvar/blob/master/src/MarkerDetector.cpp#L105) which [in turn calls](https://github.com/sniekum/ar_trac

[2015-09-28 08:55] rgreid commented on #65
After spending some more time looking at this,  LabelSquares(), calls the Undistort() function to make straight lines actually straight when detecting squares. It later uses Distort() to transform the corners of each square back to pixel coordinates.

With the Distort/Undistort() code commented-out in the current release, it is trying to fit squares to a distorted image.  For the wide field-of-vie

[2015-09-28 12:46] sniekum commented on #65
Yes, originally, I think this was designed to be used with pre-rectified images.  Ideally, there should be a parameter that specifies if you are using rectified or unrectified images that then either ignores or uses this code.  If you address this, please submit a pull request.

—Scott

[2015-09-29 22:04] rgreid commented on #65
The Camera object subscribes to a cam_info_topic. Wouldn't a pre-rectified camera pass a cam_info message with distortion coefficients set to zero, making this a no-op?

Either way it doesn't make sense to comment these functions out.  We want to fit squares to the normalized image.

My company won't let me do PRs :/  I plumbed Devernay's wide FOV model into this code instead, unfortunately I can'

[2015-09-29 22:11] sniekum commented on #65
I’m pretty sure the rectified camera messages still have the camera parameters filled in.  Unfortunately, I don’t support this too actively anymore due to lack of time, and I don’t want to just uncomment things now and break this for other people.  There are a few other co-maintainers — perhaps one of them will be able to crate a fix.  Otherwise, it may not get done for some time.  Even though you

[2015-10-09 13:18] timn opened #66 "Move include to allow library re-use"
We would like to be able to re-use the alvar library in other nodes or software. In particular, we strive to use it as a fallback on Ubuntu for the RoboCup Logistics League Simulation. However, this is currently prevented because the file Camera.h contains the following:
#include <tf/transform_broadcaster.h>

This pulls in a lot of the tf2 infrastructure. This in turn is currently incompatible on

[2015-10-09 15:25] 130s commented on #66
+1 for the pull request ;)

[2015-10-12 12:55] #66 closed

[2015-10-27 17:05] fickrie67 opened #68 "Camera position x y z"
Hallo,

thank you very much for the amazing software, i have one question here:
-how do i get the camera position coordinate x y z ? to use it later on as camera tracking

thank you very much

[2015-11-25 14:04] RonaldEnsing commented on #53
I had the same problem, and this solution worked for me. Thanks!

[2015-11-27 06:34] longjie opened #69 "Axis orientation difference between individualMarkers and individualMarkersNoKinect"
Hi,
I'm using Xtion pro live and the individualMarkers node to detect AR marker's position and orientation.
I have noticed the marker's orientation, the direction of x and y axis, is differ from the one from the individualMarkersNokinect. The direction is rotated 90 degrees from the correct direction. The individualMarkersNoKinect node produces correct orientation with the same sensor and image to

[2015-12-18 09:49] vfdev-5 opened #71 "Question: Which version of ALVAR is used ?"
Hello,

I have just a small question about which version of ALVAR is used here.
There is version 2.0.0 is available [here](http://virtual.vtt.fi/virtual/proj2/multimedia/alvar/index.html) (since 2012) and which seems not to be the same as in this project. Have you tried to compile and test code with ALVAR 2.0.0 ?

Thanks

[2015-12-18 10:04] #71 closed

[2016-01-11 12:56] StephanOpfer opened #72 "Marker detection with changed margin size is impossible"
Hi all,

we created marker, which have a margin of size 1. How do we change the margin size for the detection? We were only able to checkout the repo and change the default value in the header file of MarkerDetector.h

This did work, but the margin should  be a parameter, which is configurable in a roslaunch file.

Greetings,
  Stephan

[2016-02-01 08:47] timn commented on #66
Hi Scott. Could you release 0.5.2 to jade so we have the fix there as well? It's still 0.5.1 and causing problems for us. Thanks!

[2016-02-01 14:47] sniekum commented on #66
Due to time constraints, I don’t handle the releases (or maintenance) anymore - there are a few maintainers I’ve asked to help out.  Would someone be willing to do this?  Isaac maybe?

—Scott

[2016-02-01 18:29] 130s commented on #66
Sure.

[2016-02-01 18:32] sniekum commented on #66
Thanks!

[2016-02-01 18:40] 130s opened #73 "Activate CI and automate tests"
@sniekum Could you activate Travis CI for this repo? I think you can do that at https://travis-ci.org/profile/sniekum with a single click.
Then I'll open a PR for adding travis config.

[2016-02-01 18:42] 130s commented on #66
Done
I https://github.com/ros/rosdistro/pull/10393
J https://github.com/ros/rosdistro/pull/10394

[2016-02-01 18:46] sniekum commented on #73
Done.

[2016-02-08 05:38] 130s commented on #73
@sniekum Could you check again https://travis-ci.org/profile/sniekum and see if with `ar_track_alvar` Travis is enabled? Please make sure the package name is correct etc. (I know there's `ar_track_alvar_msgs` repository).

I've added the config for travis in #74. Travis should run with #74 but it isn't.

[2016-02-11 14:27] #61 closed

[2016-03-23 22:29] 130s commented on #73
Sorry to bother you @sniekum, but could you check again if Travis is activated at:

https://travis-ci.org/profile/sniekum/ar_track_alvar_msgs/settings

and

https://travis-ci.org/profile/sniekum/ar_track_alvar/settings

[2016-03-23 22:32] 130s commented on #73
Sorry correct URLs is https://travis-ci.org/sniekum/

[2016-03-23 22:38] sniekum commented on #73
Thought I did this a while back, but apparently I didn’t.  Should work now.  Let me know if there are any problems.

—Scott

[2016-03-23 22:44] 130s commented on #73
Yes it's working, thanks!

[2016-03-23 22:44] #73 closed

[2016-03-30 17:52] jpmerc opened #76 "Individual Markers false detection near color image borders"
In my configuration, I use the executable IndividualMarkers (2D + 3D). I have noticed that when markers are near the 2D image borders, it will localize them very badly. A fast solution that I found was to modify IndividualMarkers.cpp. I'm not doing a pull request, since I have hardcoded the borders and the size og the kinect image, but I thought that it could possibly help someone wondering why th

[2016-06-01 23:13] tfoote opened #78 "Request for Kinetic Release"
@130s @sniekum could one of you release ar_track_alvar for kinetic? It's a dependency blocking our push towards a TurtleBot release.

It should just be a matter of running bloom on the current version for kinetic.

Thanks

[2016-06-01 23:17] 130s commented on #78
Sure.

[2016-06-02 04:05] 130s commented on #78
Done https://github.com/ros/rosdistro/pull/11716

[2016-06-02 04:05] #78 closed

[2016-06-02 04:07] 130s commented on #78
@sniekum I made `kinetic-devel` branch because for kinetic we need to take care of OpenCV migration. Thus I incremented version to 0.6.x (jade and earlier are still in 0.5.x).

[2016-06-05 17:26] jacquelinekay opened #81 "Build fails on Kinetic"
Please fix the ar_track_alvar package on the Kinetic buildfarm. If a fix isn't obvious I can blacklist the package for now.

http://build.ros.org/job/Kbin_uX64__ar_track_alvar__ubuntu_xenial_amd64__binary

[2016-07-20 07:50] 130s commented on #81
Fixed via https://github.com/sniekum/ar_track_alvar/pull/84

[2016-07-20 07:50] #81 closed

[2016-07-25 18:06] peter-moran commented on #55
I am also curious about this, especially for Kalman filtering.

`ar_track_alvar` appears to have a sense of tracking error. For example, [`MarkerDetector.cpp` references `track_error`](https://github.com/sniekum/ar_track_alvar/blob/f9e9eb89adbd409d9d9a353ff1346e9581dfaedc/src/MarkerDetector.cpp#L111), which is produced by the function [`compareCorners()`](https://github.com/sniekum/ar_track_alvar/

[2016-07-25 18:25] 130s commented on #55
Best person who could have an answer to this probably is the original author @sniekum but he might be too busy. And of you want to open a pull request for the proposed change?

[2016-07-27 21:20] peter-moran commented on #55
With some further investigation, it appears that confidence is used for multi tag bundles, and the confidence is an integer of how many markers in that group. If you want to check, see [`makeMarkerMsgs()`](https://github.com/sniekum/ar_track_alvar/blob/f9e9eb89adbd409d9d9a353ff1346e9581dfaedc/nodes/FindMarkerBundles.cpp#L504) in `FindMarkerBundles.cpp`, which [does assign confidence to a marker](h

[2016-07-28 14:17] peter-moran commented on #55
I took a look at `track_error` and it does not appear to be useful for determining physical error. Empirically I found a decent linear correlation between the track error and the standard deviation of position and rotation readings while the marker is still, however the whole thing felt a little hacky.

I'm not sure, but `track_error` does not seems to give a good reading on measurement confidence

[2016-08-02 01:04] peter-moran commented on #55
Final post. `track_error` is not a good measure of physical confidence. If you look closely at [`makeMarkerMsgs()`](https://github.com/sniekum/ar_track_alvar/blob/f9e9eb89adbd409d9d9a353ff1346e9581dfaedc/nodes/FindMarkerBundles.cpp#L504), it finds the 4 sets of sums, each summing the distance between:
[0] the matching corners, [1] the next corner, [2] the opposite corner, and [3] the previous corn

[2016-08-02 01:14] 130s commented on #55
@peter-moran thanks for the deeper look.

Can either of you add a summary to the document? Best location of the document for this package should be http://wiki.ros.org/ar_track_alvar
Note that to edit that wiki page, you'll actually need to edit http://wiki.ros.org/ar_track_alvar/post-fuerte, which is included in the parent page.

[2016-08-02 01:14] #55 closed

[2016-08-03 19:31] zicez opened #87 "Generated XML from createMarkers is incorrect"
The XML file created from using createMarker provides the wrong coordinate for the upper left corner of the tags.
For example, this tag bundle below is generated with x = -7.5, y = 7.5 as the coordinate for the center tag as the first tag.

![markerdata_0_1_2_3_4](https://cloud.githubusercontent.com/assets/6234856/17378904/e8411df8-598d-11e6-809e-04b9744e100b.png)

The resulting XML incorrectly ha

[2016-08-26 14:52] zfxw0206 opened #88 "Cannot load file /opt/ros/indigo/share/ar_track_alvar/bundles/truthTableLeg.xml"
When I run "roslaunch ar_track_alvar pr2_bundle_no_kinect.launch", I always get the error: "Cannot load file /opt/ros/indigo/share/ar_track_alvar/bundles/truthTableLeg.xml".

Did I miss something?

[2016-09-02 19:55] zfxw0206 opened #89 "how to track ar tag without camera frame"
Now I have a pointgrey camera which does not have camera frame. How cam I use ar track with this camera?

Thank you!

[2016-09-12 12:12] mehditlili commented on #65
So if I understand well, at the end what is used to compute the marker's poses is the rectified image? I had trouble with the accuracy of marker detection but then I realized using the P intrinsic matrix instead of K leads to better results. (P and K as defined [here](http://docs.ros.org/api/sensor_msgs/html/msg/CameraInfo.html)). If you confirm I could make a pull request to set P or K as a param

[2016-09-12 12:17] mehditlili commented on #89
Just write anything in camera frame. The markers will be published with frame_id as what you set and if you want to see them in rviz just set your fixed frame to that same frame of the camera.

[2016-09-27 00:15] 130s opened #91 "Kinetic failure on ROS buildfarm prerelease test"
ROS prerelease test at the time of https://github.com/sniekum/ar_track_alvar/commit/5c930127804abceab19547b26c871da52acbfcf7 fails only for Kinetic using `kinetic-devel` branch.

[code]

Also Travis [failed](https://travis-ci.org/sniekum/ar_track_alvar/jobs/162888955) but the cause may seem different.

[2016-11-03 14:55] zfxw0206 commented on #89
Thank you. I set the id in the calibration yaml file. Then it is fine.

[2016-11-07 21:19] jimcha21 commented on #91
hello @130s , is there any fix to this ?

[2016-11-15 03:01] unhelkar opened #93 "ROS Indigo : version 0.5.4 resulting in erroneous tag detection"
[Version 0.5.4](https://github.com/sniekum/ar_track_alvar/commit/1823114d29b008b4cc222f345e29b2e594ec43ca) of ar_track_alvar results in erroneous tag detection when used on ROS Indigo, Ubuntu 14.04 LTS with ASUS Xtion Pro sensor. The tag detection is stable and correct with [0.5.3 version](https://github.com/sniekum/ar_track_alvar/commit/f9e9eb89adbd409d9d9a353ff1346e9581dfaedc), and correct ids a

[2016-11-24 13:17] mukeschShah commented on #93
same problem in my installation, im using  XBOX Kinect360.; ROS indigo, Ubunt 14.04 LTS and the following lauch:

[code]

after updating the ID detection is wrong with all markers, before it works well.

[2016-11-24 16:08] unhelkar commented on #93
@mukeschShah Thanks for confirming the issue. Meanwhile, to have a working copy of the package, one can
- clone this repository in src folder of catkin workspace (instead of installing via apt-get),
- checkout the commit corresponding to version 0.5.3, and
- catkin_make .

[2016-11-24 20:24] 130s commented on #93
Could any one of you share some `.bag` file(s)? It makes debugging for those who don't always have an access to the environment (camera, tags etc.) easier.

[2016-11-26 14:54] mukeschShah commented on #93
a .bag file gets very big fast:

https://transferxl.com/08zscZ3wL5R3mf

A **topic** you are particularly interested in?

[2016-12-01 16:27] Monopolymer opened #94 "Adaptation for fisheye calibrated with Ocamcalib"
I have ar_track running on ROS-indigo and i would like to make it work with a Fisheye lenst.
I used Ocamcalib-toolbox for calibrating and wrote a rectification Node with the provided c++ functions.
I already have the alvar node subscribe to my rectified image. I dont have an camera_info topic as required i am guessing that the camera calibration parameters ar only used to calculate 2d in 3d koordi

[2016-12-02 02:14] AlexReimann opened #95 "Double use of variable name compiler warning"
In ``FindMarkerBundlesNoKinect.cpp`` [one of the loops](https://github.com/sniekum/ar_track_alvar/blob/1823114d29b008b4cc222f345e29b2e594ec43ca/nodes/FindMarkerBundlesNoKinect.cpp#L228) of uses the same variable name for [a nested loop](https://github.com/sniekum/ar_track_alvar/blob/1823114d29b008b4cc222f345e29b2e594ec43ca/nodes/FindMarkerBundlesNoKinect.cpp#L259).

Code snippet:

[code]

Not sure

[2016-12-05 12:30] Monopolymer opened #96 "Marker Id over 30000 schould be 1-10"
I don´t get the right marker id. the same markers are rediscovered as different markers with ids over 10000.
I don't know what i am doing wrong.
please help

[2016-12-10 22:21] prarobo commented on #93
It looks like setting the default marker resolution to 7 in the ros wrapper causes this. If I drop the value back to 5 as in the alvar library, the false detections go away.

[2016-12-11 12:07] mukeschShah commented on #93
i can confirm prarobo comment
simply add

[code]
to the launch file and it works again

[2016-12-11 18:03] mukeschShah commented on #96
@Monopolymer
which version did you use? Maybe you suffer from the same issue mentioned in
[ROS Indigo : version 0.5.4 resulting in erroneous tag detection #93](https://github.com/sniekum/ar_track_alvar/issues/93)

default marker_resolution switch in 0.5.4 from 5 to 7. And if you used 5x5 markers you getting marker_id mostly with id´s over 10000.

[2016-12-12 14:04] Monopolymer commented on #96
Thank you going to version 0.5.3 solved my issue

[2016-12-12 14:04] #96 closed

[2016-12-13 14:56] #94 closed

[2016-12-22 19:46] 130s commented on #93
Anyone interested in sending a fix (via pull request)?

Thanks @mukeschShah for a `.bag` file. Once I get around I'll try integrating that into system testing.

[2016-12-25 11:48] mukeschShah commented on #93
in my opinion this issue could be closed:
Maybe the documentation and the launch-file should be updated. The documentation gives examples with an `marker_resolution` of 5 and the new default `marker_resolution` in version 0.5.4  is 7.
The params `marker_resolution` and `max_frequency` should be explained and an example launch-file should be provided.

[2017-01-05 18:32] AndyZe opened #97 "createMarker options aren't working"
I'm trying to create a marker with, say, a side length of 7. But all 3 of these commands generate identical markers with a side length of 9:

rosrun ar_track_alvar createMarker 11
rosrun ar_track_alvar createMarker -s 7.0 11
rosrun ar_track_alvar createMarker 11 -s 7.0

I've also tried other combinations.

Maybe I'm doing it wrong, but it seems like the argument parsing is broken.

It was installe

[2017-01-05 20:11] AndyZe commented on #93
Why did the default change? That's kind of annoying.

[2017-01-13 15:03] achim-k commented on #91
Was the `kinetic-devel` branch deleted or why do I not see it anymore?

[2017-01-13 15:11] achim-k commented on #68
You can use tf for that. See also <http://wiki.ros.org/tf>.

[2017-01-13 23:06] 130s commented on #91
I'm looking into it now.

[2017-01-13 23:10] 130s commented on #91
I figured out. I deleted it in https://github.com/sniekum/ar_track_alvar/pull/92, thinking that the branch used in the closed PR was from the requester's forked repo. Turned out that the requester directly committed into the origin somehow (s/he should have a write access to this repo).
I've undone deletion. Sorry about that.

[2017-01-13 23:34] #88 closed

[2017-01-13 23:42] 130s commented on #91
Back to the original issue of this ticket, it seems fixed in the job that re-ran 20 mins ago. See the [prerelease test](https://travis-ci.org/sniekum/ar_track_alvar/jobs/191794464) in [this build](https://travis-ci.org/sniekum/ar_track_alvar/builds/191794462).
So the cause was either in prerelease test side or somewhere else, not in ar_track_alvar.

[2017-01-13 23:42] #91 closed

[2017-01-30 23:56] 534o commented on #93
I'm verry sorry for this trouble as @mukeschShah , @prarobo already point out this is my fault at PR #90, so created PR to fix this #104, #105. Please confirm this fixed your problem.

[2017-02-07 14:44] hakanrobo opened #107 "Launch tracker as nodelet"
Hi,
I am not able to find any documentation on how to launch the tracker, in particular 'individualMarkersNoKinect', as a nodelet. Is the algorithm even ported as nodelet currently?

[2017-02-08 01:07] #93 closed

[2017-02-08 01:11] 130s commented on #93
I'll make a new release soon into indigo (for kinetic still waiting for #104 to pass Travis).

@mukeschShah

Given the popularity of this package, we should maintain backward compatibility. So reverting marker_resolution back to 5 as done in #105 is preferable IMO.

[2017-02-08 19:08] 130s opened #108 "[doc] Update individual marker nodes usage about parameter usage"
Now that #99 is merged in, [document](http://wiki.ros.org/ar_track_alvar#ar_track_alvar.2BAC8-post-fuerte.Usecase_per_number_of_tags) needs to be updated (otherwise no one uses this nice new feature).

If @achim-k is interested in taking this that'll be great since you're the author of #99 (but no pressure ;) ).

[2017-02-08 21:22] achim-k commented on #108
I would be interested :wink: Could we include #100 in the new release? Then I can document that additional parameter directly too.

Edit: Ah Ok I've seen you created a release already, never mind.

[2017-02-09 10:08] 130s opened #112 "Add tests for other nodes than individualMarkersNoKinect"
`individualMarkersNoKinect` is specifically used [here](https://github.com/sniekum/ar_track_alvar/blob/562fae16ec695a913d447e72951b6c65acd2b6b1/test/marker_abstract.launch.xml#L15), and all the tests currently in use are intended for it. Tests for other nodes are nice to have.

[2017-02-09 10:09] 130s commented on #108
@achim-k Yes now all PRs are merged in, you should be able to update the doc with the changes you contributed. Thanks!

[2017-02-09 10:15] achim-k commented on #108
Will do so, still waiting for being whitelisted for updating the wiki page. Thanks again!

[2017-02-09 18:22] 130s commented on #93
This should be resolved with the following latest released version:
- Indigo, Jade 0.5.6
- Kinetic 0.6.3

[2017-02-13 02:00] dan9thsense opened #114 "ar_track_alvar causes TF_NAN_INPUT"
I am running ar_track_alvar successfully in both ROS indigo and kinetic, but it causes tf transform nodes to output errors such as:

`TF_NAN_INPUT: Ignoring transform for child_frame_id "ar_marker_111"`

I'm pretty sure the errors are irrelevant, as I am detecting all of the expected markers fine and getting good transforms from them. However, these errors make a mess of the terminal screen of oth

[2017-02-13 16:50] achim-k opened #115 "Flaky test"
The following test fails from time to time:
[code]

[2017-02-14 00:04] #115 closed

[2017-02-14 00:07] 130s commented on #115
@achim-k thanks for reporting this issue, which I was already aware of but blindly hoped it wouldn't matter. I was wrong :/

Please reopen if the issue persists.

[2017-02-14 10:04] achim-k opened #117 "Test issues"
Here a couple more issues that I noticed concerning the tests:
### Tf lookup issues
When looking at `ar_track_alvar/rosunit-marker_quarternions_WITHARG_CONFIGBASIC.xml`, it is full with
[code]
error messages. The reason for this is probably because of [these](https://github.com/sniekum/ar_track_alvar/blob/a1e635163452700d7af363cc5ad93e2b51e487b2/test/test_ar.py#L87) lines:
[code]
In the rosbag the

[2017-02-22 13:50] achim-k commented on #108
I have troubles finding the right place to edit on the ros wiki. The wiki text editor just shows a few lines like the following
[code]
and I'm struggling to find the files that are actually included. Could you point me in the right direction? Thanks

[2017-02-22 18:26] 130s commented on #108
@achim-k Yeah you hit the tricky part of ROS wiki. It's here: http://wiki.ros.org/ar_track_alvar/post-fuerte

[2017-02-23 13:25] 130s commented on #114
Could it be possible to take a `.bag` file (for only a few seconds is fine) where the issue is occurring and share it?

[2017-03-08 09:18] ZdenekM commented on #114
Similar issue here. Getting:

[code]

It's usually quite spurious - hard to capture in bag. Btw, what topics should be recorded? TF and ar_pose_marker or even image?

[2017-03-08 16:46] dan9thsense commented on #114
It only happens when using depth sensing, not when just using a camera without depth.  The bag file gets huge fast, so as ZdenekM asks, what topics are needed?

[2017-03-08 20:11] 130s commented on #114
For a bag, include only image topic(s) that you want to pass to `ar_track_alvar`. No need for `tf`, or you don't even need to run ar_track_alvar while capturing a bag, since that bag will be the one we want to use for test and debugging the updated code. You can record as long as 5 seconds or even less, as long as you can observe the behavior in question.

[2017-03-08 21:18] dan9thsense commented on #114
ran all day today, ready to record the bag file and, of course, the error doesn't show.  I'll catch it yet.

[2017-03-30 05:28] Michionlion opened #118 "[deleted]"
[deleted]

[2017-03-30 05:38] #118 closed

[2017-03-30 05:39] Michionlion commented on #118
stupid question, msg syntax translates to different C++ syntax (what looks like C-style arrays are actually vectors. Thanks for teaching me that now, ROS.

[2017-03-30 13:12] #107 closed

[2017-03-30 13:15] hakaneyb commented on #107
Decided to port the node myself. Did not realize that the node was that short and as the library itself can stay as it is, its quite fast to do.

[2017-04-06 10:22] GPRAMESH opened #119 "ar_marker_x (x name of tag) passed to lookupTransform argument source_frame does not exist."
I am using kinectv2 sensor to track ar bundle tags. This is my launch file
<launch>

  <node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0.5 0 0 1.57 /world /kinect2_rgb_optical_frame 100"/>

  <arg name="marker_size" default="4.4" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.0" />

    <arg name="cam_image_topic" defaul

[2017-04-20 21:52] 130s opened #121 "Release into ROS Lunar (and Kinetic too)"
Need to be resolved:
- [x] https://github.com/ros-perception/pcl_conversions/issues/25
- [x] https://github.com/ros-perception/perception_pcl/issues/130

When making a release into Lunar, we should also do the following to apply this change https://github.com/sniekum/ar_track_alvar/pull/120:
- [x] remove ar_track_alvar_msgs from rosdistro for Kinetic --> https://github.com/ros/rosdistro/pull/14680

[2017-04-20 21:54] 130s commented on #121
- [ ] https://github.com/ros-perception/perception_pcl/issues/130

[2017-04-24 19:42] 130s commented on #121
When making a release into Lunar, we should also do the following to apply this change https://github.com/sniekum/ar_track_alvar/pull/120:
- [ ] remove ar_track_alvar_msgs from rosdistro for Kinetic
- [ ] release into Kinetic

[2017-04-26 21:39] 130s commented on #121
Released into Lunar https://github.com/ros/rosdistro/pull/14678

[2017-04-26 21:45] 130s opened #122 "Move to ros-perception org?"
- [x] Open a new repo https://github.com/sniekum/ar_track_alvar/issues/122#issuecomment-297643248
- [x] Move issues, PRs --> https://github.com/sniekum/ar_track_alvar/issues/122#issuecomment-297686288
- [x] Update dev repo in rosdistro --> https://github.com/ros/rosdistro/pull/14698
- [x] Deprecation notice https://github.com/sniekum/ar_track_alvar/issues/122#issuecomment-297686743

----

@sniekum

[2017-04-26 22:17] 130s commented on #121
--> https://github.com/ros/rosdistro/pull/14680

--> https://github.com/ros/rosdistro/pull/14682

[2017-04-26 22:17] #121 closed

[2017-04-26 23:46] sniekum commented on #122
This is just a normal user repo, so I can’t give you admin access without actually transferring ownership of the repo to you (which is an option we can consider).  I’m also fine with moving this to ros-perception.  What do you think is best?

—Scott

[2017-04-27 06:35] 130s commented on #122
Thanks, I didn't know the limitation of a normal user repo.
Then, I prefer to "fork"ing the repo to `ros-perception` or somewhere under `ros-*` and make that as an official, so that we'll be free from the number of admins limit.

@wjwwood could you fork this repo to a GitHub org unit somewhere appropriate that OSRF maintains, and add @sniekum and @130s as admin?

[2017-04-27 08:06] wjwwood commented on #122
Yes sir: https://github.com/ros-perception/ar_track_alvar

[2017-04-27 10:57] 130s commented on #119
This issue was moved to ros-perception/ar_track_alvar#13

[2017-04-27 10:57] #119 closed

[2017-04-27 10:58] 130s commented on #117
This issue was moved to ros-perception/ar_track_alvar#14

[2017-04-27 10:58] #117 closed

[2017-04-27 10:58] 130s commented on #114
This issue was moved to ros-perception/ar_track_alvar#15

[2017-04-27 10:58] #114 closed

[2017-04-27 10:58] 130s commented on #112
This issue was moved to ros-perception/ar_track_alvar#16

[2017-04-27 10:58] #112 closed

[2017-04-27 10:59] 130s commented on #108
This issue was moved to ros-perception/ar_track_alvar#17

[2017-04-27 10:59] #108 closed

[2017-04-27 10:59] 130s commented on #97
This issue was moved to ros-perception/ar_track_alvar#18

[2017-04-27 10:59] #97 closed

[2017-04-27 10:59] 130s commented on #95
This issue was moved to ros-perception/ar_track_alvar#19

[2017-04-27 10:59] #95 closed

[2017-04-27 10:59] 130s commented on #89
This issue was moved to ros-perception/ar_track_alvar#20

[2017-04-27 10:59] #89 closed

[2017-04-27 10:59] 130s commented on #87
This issue was moved to ros-perception/ar_track_alvar#21

[2017-04-27 10:59] #87 closed

[2017-04-27 11:00] 130s commented on #76
This issue was moved to ros-perception/ar_track_alvar#22

[2017-04-27 11:00] #76 closed

[2017-04-27 11:00] 130s commented on #72
This issue was moved to ros-perception/ar_track_alvar#23

[2017-04-27 11:00] #72 closed

[2017-04-27 11:00] 130s commented on #69
This issue was moved to ros-perception/ar_track_alvar#24

[2017-04-27 11:00] #69 closed

[2017-04-27 11:00] 130s commented on #68
This issue was moved to ros-perception/ar_track_alvar#25

[2017-04-27 11:00] #68 closed

[2017-04-27 11:00] 130s commented on #65
This issue was moved to ros-perception/ar_track_alvar#26

[2017-04-27 11:00] #65 closed

[2017-04-27 11:00] 130s commented on #59
This issue was moved to ros-perception/ar_track_alvar#27

[2017-04-27 11:00] #59 closed

[2017-04-27 11:01] 130s commented on #56
This issue was moved to ros-perception/ar_track_alvar#28

[2017-04-27 11:01] #56 closed

[2017-04-27 11:01] 130s commented on #54
This issue was moved to ros-perception/ar_track_alvar#29

[2017-04-27 11:01] #54 closed

[2017-04-27 11:01] 130s commented on #53
This issue was moved to ros-perception/ar_track_alvar#30

[2017-04-27 11:01] #53 closed

[2017-04-27 11:01] 130s commented on #47
This issue was moved to ros-perception/ar_track_alvar#31

[2017-04-27 11:01] #47 closed

[2017-04-27 11:01] 130s commented on #45
This issue was moved to ros-perception/ar_track_alvar#32

[2017-04-27 11:01] #45 closed

[2017-04-27 11:01] 130s commented on #42
This issue was moved to ros-perception/ar_track_alvar#33

[2017-04-27 11:01] #42 closed

[2017-04-27 11:02] 130s commented on #38
This issue was moved to ros-perception/ar_track_alvar#34

[2017-04-27 11:02] #38 closed

[2017-04-27 11:02] 130s commented on #35
This issue was moved to ros-perception/ar_track_alvar#35

[2017-04-27 11:02] #35 closed

[2017-04-27 11:02] 130s commented on #34
This issue was moved to ros-perception/ar_track_alvar#36

[2017-04-27 11:02] #34 closed

[2017-04-27 11:20] 130s commented on #122
Thanks @ wjwwood.

Using [github-issues-import](https://github.com/IQAndreas/github-issues-import), after successfully imported 12 issues/PRs only, the import stopped (I might have hit https://github.com/IQAndreas/github-issues-import/issues/41) So I manually imported ONLY open issues 1by1 using https://github-issue-mover.appspot.com/ As a result, only 12 closed issues/merged PRs, all 25 open issu

[2017-04-27 11:23] 130s commented on #122
@sniekum hopefully one last thing; could you update at the top page of this repo the summary as something like "MOVED TO https://github.com/ros-perception/ar_track_alvar"?

[2017-04-27 13:11] carlosjoserg commented on #122
Hi guys, apologies to jump in, it might save you time.

Adding contributors with write access is feasible even for normal users.

Though I believe the best option would be to transfer ownership of the repo, which ill copy issues and PRs plus avoid confusion and it's cleaner.

Although changing the remotes is recommended, github handles all traffic forwarding very well, I have used it before. Check

[2017-06-07 15:05] 130s commented on #122
@sniekum friendly ping :)
Recently there was still a pull request against this repo.

[2017-06-09 19:22] sniekum commented on #122
Done.

[2017-06-12 18:46] 130s commented on #122
Thank you @sniekum!

[2017-06-12 18:46] #122 closed

[2017-06-13 05:37] ahundt opened #124 "properly transfer ar_track_alvar"
I thought this was the main repo, could you transfer it?
https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/

[2017-06-13 14:55] 130s commented on #124
IMO transferring the ownership isn't a requirement when the repository location is changed.
Ref. [MaintenanceGuide#Claiming_Maintainership on ros.org](http://wiki.ros.org/MaintenanceGuide#Claiming_Maintainership) does not mention it, so does not [the recent discussion](https://discourse.ros.org/t/releasing-repositories-form-other-people/1797) about maintainership transfer. Besides, forked repos (n

[2017-06-13 16:25] ahundt commented on #124
Yes I saw the notices, however there is still an actual problem my suggestion would fix. Please look at the top of [ros_perception/ar_track_alvar](https://github.com/ros-perception/ar_track_alvar) page. There is a message there:

Every single fork points to your repository, that's slightly inconvenient but there is a second problem.

Next, [click this to search "tag" in `ros-perception/ar_track_al

[2017-07-05 04:36] Heaven91 opened #125 "pcl error when estimate pose"
Hi,

I want to use this package to estimate marker pose. I used a kinect to get depth  and camera_info information, which are published  on /camera/depth_registered/points and /camera/rgb/camera_info topic. I start the camera driver note, it works fine. and then I start the launch file with ' roslaunch ar_track_alvar pr2_indev.launch`. The launch file is modified as follows:
[code]
However, once a

[2019-01-24 21:04] elstongunnn41 opened #128 "Detection of multiple makers with different sizes"
I need to detect multiple markers (one at a time) of different sizes, because I'm using a drone and it needs to detect a big tag when it's high (like 5 metres) and a smaller tag when it's not too high (like 1 metre), because the big tag is bigger than the field of view of the camera when the altitude is small.

How can I do that? I read solutions for just 1 tag and for multiple tags of the same si